call plug#begin('~/.vim/plugged')

Plug 'godlygeek/tabular', { 'on': 'Tabularize' }
Plug 'chriskempson/base16-vim'
Plug 'nathanaelkane/vim-indent-guides', { 'on': 'IndentGuidesEnable' }
Plug 'suan/vim-instant-markdown', { 'for': 'markdown' }
Plug 'plasticboy/vim-markdown', { 'for': 'markdown' }
Plug 'pangloss/vim-javascript', { 'for': 'javascript' }
Plug 'jshafton/vim-node', { 'for': 'javascript' }
Plug 'guileen/vim-node-dict', { 'for': 'javascript' }
Plug 'leafgarland/typescript-vim', { 'for': 'typescript' }
Plug 'Quramy/tsuquyomi', { 'for': 'typescript' }
Plug 'davidhalter/jedi-vim', { 'for': 'python' }
Plug 'scrooloose/syntastic', { 'for': ['python', 'javascript', 'typescript'] }
Plug 'martinda/Jenkinsfile-vim-syntax', { 'for': 'Jenkinsfile' }
Plug 'mhinz/vim-signify'
Plug 'tpope/vim-surround'
Plug 'jiangmiao/auto-pairs'
Plug 'embear/vim-localvimrc'
Plug 'vim-scripts/AutoComplPop'
Plug 'bitc/vim-bad-whitespace'
Plug 'neoclide/coc.nvim', {'branch': 'release'}
Plug 'editorconfig/editorconfig-vim'
Plug 'tpope/vim-fugitive', { 'on': 'Gblame' }
Plug 'junegunn/fzf', { 'do': { -> fzf#install() } }
Plug 'junegunn/fzf.vim'
Plug 'itchyny/lightline.vim'

call plug#end()
