call plug#begin('~/.vim/plugged')

Plug 'scrooloose/nerdtree'
Plug 'godlygeek/tabular'
Plug 'chriskempson/base16-vim'
Plug 'nathanaelkane/vim-indent-guides'
Plug 'suan/vim-instant-markdown'
Plug 'pangloss/vim-javascript'
Plug 'groenewege/vim-less'
Plug 'plasticboy/vim-markdown'
Plug 'jshafton/vim-node'
Plug 'guileen/vim-node-dict'
Plug 'mhinz/vim-signify'
Plug 'tpope/vim-surround'
Plug 'jiangmiao/auto-pairs'
Plug 'scrooloose/syntastic'
Plug 'elzr/vim-json'
Plug 'leafgarland/typescript-vim'
Plug 'embear/vim-localvimrc'
Plug 'Quramy/tsuquyomi'
Plug 'lfilho/cosco.vim'
Plug 'davidhalter/jedi-vim', { 'for': 'python' }
Plug 'bitc/vim-bad-whitespace'
Plug 'altercation/vim-colors-solarized'
Plug 'martinda/Jenkinsfile-vim-syntax'
Plug 'neoclide/coc.nvim', {'branch': 'release'}
Plug 'editorconfig/editorconfig-vim'
Plug 'tpope/vim-fugitive'
Plug 'junegunn/fzf', { 'do': { -> fzf#install() } }
Plug 'junegunn/fzf.vim'

call plug#end()
