call plug#begin('~/.vim/plugged')

Plug 'vim-scripts/The-NERD-Commenter'
Plug 'ctrlpvim/ctrlp.vim'
Plug 'scrooloose/nerdtree'
Plug 'godlygeek/tabular'
Plug 'chriskempson/base16-vim'
Plug 'nathanaelkane/vim-indent-guides'
Plug 'suan/vim-instant-markdown'
Plug 'pangloss/vim-javascript'
Plug 'groenewege/vim-less'
Plug 'plasticboy/vim-markdown'
Plug 'jshafton/vim-node'
Plug 'guileen/vim-node-dict'
Plug 'mhinz/vim-signify'
Plug 'tpope/vim-surround'
Plug 'jiangmiao/auto-pairs'
Plug 'scrooloose/syntastic'
Plug 'elzr/vim-json'
Plug 'leafgarland/typescript-vim'
Plug 'embear/vim-localvimrc'
Plug 'Quramy/tsuquyomi'
Plug 'lfilho/cosco.vim'
Plug 'davidhalter/jedi-vim'
Plug 'bitc/vim-bad-whitespace'
Plug 'altercation/vim-colors-solarized'
Plug 'martinda/Jenkinsfile-vim-syntax'
Plug 'neoclide/coc.nvim', {'branch': 'release'}

call plug#end()
